<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="account">
        잔고 : <input type="text" v-model="balance">
        <br>
        회원님의 등급 : 
        <span v-if="balance >= 100000">Gold</span>
        <span v-else-if="balance >= 50000">Silver</span>
        <span v-else-if="balance >= 20000">Bronze</span>
        <span v-else>Basic</span>
    </div>
    <script>
        var simple1 = new Vue({
            el: '#account',
            data: {
                balance : 0
            }
        })
    </script>
</body>
</html>