<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <style>
        .set1 {background-color: aqua; color:purple;}
        .set2 {text-align: center; width: 120px;}
        .set3 {border: sandybrown dashed 1px;}
    </style>
</head>
<body>
    <div id="example">
        <button id="btn1" v-bind:class="{ set1:s1, set2:s2, set3:s3}">
            버튼1
        </button>
        <p>
            <input type="checkbox" v-model="s1" value="true">set1 디자인<br/>
            <input type="checkbox" v-model="s2" value="true">set2 디자인<br/>
            <input type="checkbox" v-model="s3" value="true">set3 디자인<br/>
        </p>
    </div>
    <script>
        var vm = new Vue({
            el : "#example",
            data : {s1 : false, s2 : false, s3: false}
        })
    </script>
</body>
</html>